/*Mechanics Section*/
*{
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body{
    background-color: #cacaca;
}

/*Navbar Section*/
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.links{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navLink{
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

.logoLink {
    font-size: 40px;
    color: #111111;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

/*Notes Section*/
.notesWrapper{
    width: 400px;
    height: 450px;
}

.notesWrapperWrapper {
    border: #222222 solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    width: 400px;
    margin-top: 20px;
    border-bottom: none;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 0 50px #5d5d5d;
}

.notesCont{
    height: 364px;
    overflow-y: scroll;
}

.addNoteInput, .addNoteButton, .addDescriptionInput {
    padding: 5px;
    width: inherit;
}

.column-flex{
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: inherit;
    position: sticky;
}

.header {
    font-size: 35px;
    text-align: center;
}

/*Note Itself*/
.noteTopic{
    font-size: 25px;
}

.noteDescription {
    font-size: 20px;
    color: #333333;
}

.noteDate {
    font-size: 15px;
    color: #333333;
}

.singleNoteWrapper{
    max-width: 400px;
    overflow-wrap: break-word;
    padding: 10px 10px;
}